*{
    margin: 0;
    /*font-family: "筑紫A丸ゴシック";*/
    font-family: 'Zen Maru Gothic', sans-serif;
}

.wf-mplus1p { font-family: "M PLUS 1p"; }

li {
    list-style: none;
}

body {
    padding: 0;
    margin: 0;
    height: 0;
    background-color: #B6B6B6; /*background-color*/
}


/*header*/

header {
    background-color: #507880;
    color: #B6B6B6;
    padding-bottom: 5px;
    box-shadow: 0px 2.5px 5px rgba(51, 51, 51, 0.5);
    position: fixed;
    width: 100%;
    height: auto;

}

.header_logo{
    color: #B6B6B6;
    font-size: 45px;
    float: left;
    padding: 0 15px;
}

.header_list li{
    float: left;
    padding: 25px;
}

/*リンクの色変えない*/
header a, header a:hover,a:visited{
    color: inherit;
}

/*訪問後のリンクの色変えない*/
header a, header a:visited{
    color: #B6B6B6;/*カラーコードは任意*/
    text-decoration: none;
}


/*main*/

main {
    background-color: #B6B6B6;
    color: #333;
}

.main_top_img{
    width: 100%;
    height: auto;
    margin-top: 75px;
}

.main_top_icon {
    width: 150px;
    height: auto;
    display: block;
    margin-top: 75px;
    margin-left: auto;
    margin-right: auto;
}

.main_top_name {
    text-align: center;
    margin-top: -25px;
    margin-bottom: 20px;
    font-size: 50px;
}

.center {
    margin: 0 150px;
}

section {
    margin: 100px 0;
}

/*リンクの色変えない*/
main a, main a:hover,a:visited{
    color: inherit;
}

/*訪問後のリンクの色変えない*/
main a, main a:visited{
    color: #333;/*カラーコードは任意*/
    text-decoration: none;
}

.sec_pro {
    margin: 100px 0;
}

/*.products{
    display: flex;
    flex-wrap: wrap;
}*/

.products_img {
    width: 100%;
    height: auto;
    border-radius: 5px 5px 0 0; /*角丸*/
}

.products_logo {
    font-family: "筑紫A丸ゴシック";
    border-bottom: 1px solid #333;
    margin-bottom: 25px;
}

.products-item {
    background-color: #507880;
    color: #B6B6B6;
    width: 46%;
    height: 100%;
    margin-bottom: 50px;
    margin-right: 2%;
    margin-left: 2%;
    float: left;
    border-radius: 5px; /*角丸*/
    box-shadow: 0px 2.5px 5px rgba(51, 51, 51, 0.5);
}

.products-item h3 {
    margin: 15px 0px 5% 5%;
}

.products-item p {
    margin: 15px 15px 15px 15px;
}

/*リンクの色変えない*/
.products-item p a, .products-item p a:hover,a:visited{
    color: inherit;
    border-bottom: 1px solid #B6B6B6;
}

/*訪問後のリンクの色変えない*/
.products-item p a, .products-item p a:visited{
    color: #B6B6B6;/*カラーコードは任意*/
    text-decoration: none;
}

.products-item h6 {
    margin: 5px 15px 0px 15px;
    font-size: small;
}

.products-item h5 {
    margin: 25px;
    float: right;
}


/*footer*/

footer {
    background-color: #507880;
    padding-bottom: 75px;
    width: 100%;
    float: left;
}

.footer_logo{
    color: #B6B6B6;
    font-size: 25px;
    float: left;
    padding: 10px 15px;
}

.header_list li{
    color: #B6B6B6;
    float: right;
    padding: 25px;
}
